<div class="field">
  <%= f.label attribute.to_sym, label, :class => "label" %>
  <p class="control has-icons-left">
    <%= f.send type.to_sym, attribute.to_sym, :class => "input" %>
    <%= content_tag(:span, content_tag(:i, "", class: icon), class: "icon is-small is-left") %>
  </p>
</div>