<div class="columns is-centered">
	<div class="column is-one-half has-text-centered">
    <h1 class="title is-2"><%= @bible_prayer.title%></h1>
    <h4 class ="subtitle is-4"><%=@bible_prayer.verse%></h4>
    <h4 class ="subtitle is-6"><%=@bible_prayer.summary%></h4>
    <div class="column is-one-third is-offset-one-third"><hr></div>
    <h4 class ="subtitle is-5"><%=simple_format(@bible_prayer.scripture)%></h4>
	</div>
</div>