<form method="post" action="/groups/<%=@group.id%>/add_member">
  <label class="label" for="add_member">Add Member By Name, Email, or Username:</label>
  <div class="field has-addons">
    
    <div class="control">
      <input class="input" type="text" id="add_member" name="add_member"/>	
    </div>
    <div class="control">
      <input class="button is-dark" type="submit" value="Add"/>
    </div>
  </div>
</form>